absl-py==0.11.0
dataclasses==0.6
decorator==4.4.2
future==0.18.2
grpcio==1.33.2
importlib-metadata==3.1.0
joblib==0.17.0
Markdown==3.3.3
munkres==1.1.4
networkx==2.3
numpy==1.19.4
pandas==1.1.4
protobuf==3.14.0
python-dateutil==2.8.1
pytz==2020.4
scikit-learn==0.21.3
scipy==1.5.4
six==1.15.0
snorkel==0.9.6
tensorboard==1.15.0
torch==1.7.0
tqdm==4.53.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
zipp==3.4.0
